@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --preto: #0a0908ff;
    --azul-escuro: #22333bff;
    --bege-claro: #eae0d5ff;
    --bege-escuro: #c6ac8fff;
    --marrom: #5e503fff;
    --fonte-titulo: "New Amsterdam", sans-serif;
    --fonte-texto: "Roboto Mono", monospace;
}

body{
    background-color: var(--azul);
    font-family: var(--fonte-texto);
    font-size: 16px;
}

.cabecalho{
   background-color: var(--preto);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 12px;
}

.cabecalho-img{
   border-radius: 100%;
   width: 10%;
}

.cabecalho-nav__link{
   font-family: var(--fonte-titulo);
   text-decoration: none;
   font-size: 36px;
   color: var(--bege-claro);
   margin-right: 36px;
}

.cabecalho-nav__link:hover{
   color: var(--preto);
   font-size: 46px;
   transition: 0.5s
}

.principal-capa{
   display: flex;
   justify-content: space-around; 
   align-items: center;
   gap: 24px;
   background-image: url(img/fundo.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

.principal-capa__conteudo{
   display: flex;
   flex-direction: column;
   gap: 12px;

}

.principal-capa__titulo{
   font-family: var(--fonte-titulo);
   font-size: 40px;
   color: var(--preto);
   margin-bottom: 12px;
}

.principal-capa__botao{
   background-color: var(--azul-escuro);
   border-radius: 5px;
   padding: 1em;
   margin-top: 2em;
   color: var(--bege-claro);
   text-decoration: none;
}

.botao__secundario{
   background-color: var(--azul-escuro);
   border: 2px solid var(--azul-escuro);
   color: var(--bege-claro);
}
