@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --preto: #0a0908ff;
    --azul-escuro: #22333bff;
    --bege-claro: #eae0d5ff;
    --bege-escuro: #c6ac8fff;
    --marrom: #5e503fff;
    --fonte-titulo: "New Amsterdam", sans-serif;
    --fonte-texto: "Roboto Mono", monospace;
}

body{
    background-color: var(--azil);
    font-family: var(--fonte-texto);
    font-size: 16px;
}

.cabecalho{
   background-color: var(--preto)
   display: flex;
   

}
